#carousel-adder {
  display: none;
}

.label-heximus {
  display: block;
  margin-bottom: 5px;
}
.input-heximus {
  margin-bottom: 10px;
}

.c-field-wrap {
  margin-top: 10px;
}
.c-credits {
  margin-top: 5px;
}

.c-category-postbox {
  float: left;
  margin-right: 20px;
} 

.c-remove {
  display: block;
}