@import "util";

// layout
%relative {
  position: relative;
}
%absolute {
  position: absolute;
}

%block {
  display: block;
}
%inline-block {
  display: block;
}

%clearfix:after {
  content: '';
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

%pull-left {
  float: left;
}
%pull-right {
  float: right;
}

%text-center {
  text-align: center;
}

%gothic {
  //font-family:'AvantGardeGothicITCW01B 731063', 'Trebuchet MS', Arial, sans-serif;
  font-family: 'Verdana', Arial;
  font-weight: bold;
}
