// 
// Variables
//
$base_font_size: 16;

//
// colours
//
$black: #000;
$white: #FFFFFF;
$highlight: #FF68C3;
$pink: #F197D5;
$blue: #94D7DE;

//
// Mixins
//
@mixin transition($properties...) {
  -webkit-transition: $properties;
     -moz-transition: $properties;
       -o-transition: $properties;
          transition: $properties;
}

@mixin transform($properties...) {
  -webkit-transform: $properties;
     -moz-transform: $properties;
       -o-transform: $properties;
          transform: $properties;
}

@mixin box-shadow($properties...) {
  -webkit-box-shadow: $properties;
     -moz-box-shadow: $properties;
       -o-box-shadow: $properties;
          box-shadow: $properties;
}

@mixin box-sizing($property) {
  -webkit-box-sizing: $property;
     -moz-box-sizing: $property;
       -o-box-sizing: $property;
          box-sizing: $property;
}

//
// Functions
//
@function rem($size) {
  @return #{ (1 / $base_font_size) * $size }rem;
}