.no-scroll {
  overflow: hidden;
  height: 100%;
}

.blanket {
  @extend %absolute;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
}

//------------------
// Rows
//------------------
.up {
  @extend %text-center;
  @extend %relative;
  background-color: #94D7DE;
  height: rem(160);

  a {
    i {
      background: url('images/arrow_up@2x.png') no-repeat left center;
      background-size: auto 100%;
      height: rem(17);
      width: rem(20);
      display: inline-block;
      margin-right: rem(8);
    }

    font-size: rem(22);
    line-height: rem(160);
    margin-top: rem(80); 
    background-size: auto 100%;
    &:hover {
      color: #000;
    }
  }
}

.button-row {
  padding-top: rem(30);
  padding-bottom: rem(60);
  @extend %text-center;
  @extend %clearfix;
}

.button-row-left {
  text-align: left;
}

.button-row-paginate {
  .button {
    margin: 0 rem(40);
  }
}

.details-row {
  margin-bottom: 0;
  @extend %clearfix;

  span {
    margin: 0 rem(20);
  }

  .data-views {
    margin-top: rem(15);
  }

  .bullet {
    background-color: #cccccc;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20;
    height: rem(5);
    width: rem(5);
  }

  .button-share {
    @extend %pull-right;
  }
}

.article-row {
  max-width: rem(912);
  
  .details-row {
    padding: rem(50) rem(100);
  }

  img {
    width: 100%;
    margin-bottom: rem(10);
  }

  .h-3 {
    margin-top: rem(30);
    margin-bottom: rem(5);
  }

  .details-row-secondary {
    padding-top: rem(25);
    color: #cccccc;
  }
}

.search-row {
  
  & > div {
    padding: 0 rem(270) 0 rem(150);
  }

  .search-row-input {
    top: rem(45);
    @extend %absolute;
  }

  .search-row-results {
    top: rem(180);
    bottom: 0;
    overflow: auto;
    width: auto;
    @extend %absolute;
  }
 
  .button-search {
    @extend %absolute;
    top: 0;
    right: rem(70);
  }
}

.input-search {
  border: none;
  border-bottom: 2px solid $pink;
  font-size: rem(24);
  padding: 20px 0;
  width: 100%;

  &:active, &:focus {
    border-color: $highlight;
  }
}