.up {
  height: rem(80);

  a {
    .icon-arrow-up {
      display: inline-block;
      margin-right: rem(8);
    }

    font-size: rem(15);
    line-height: rem(80);
  }
}

.details-row {
  .button {
    margin-top: rem(20);
  }
}

.article-row {
  padding-top: 0;
  
  .article-row-content {
    padding: 0;
  }

  .details-row {
    margin-top: 0;
  }
  .button-row {
    padding-bottom: 0;
  }
}

.section-thumb {
  padding-top: rem(30);
}

.button-row {
  padding-bottom: rem(50);
  padding-top: 0;
}