

.row-up {
  height: rem(80);
  padding-top: rem(16);
}


.article-row-content,
.details-row {
  width: 100%;
}

.article-row {
  padding-top: 0;
  
  .article-row-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  p, ul, ol, h1, h2, h3, h4, h5, h6 {
    padding: 0;
  }

  blockquote {
    margin: 0; 
  }
  
  .details-row {
    margin-top: 0;
    padding: rem(20) 0;
    
    .button {
      margin-top: rem(20);
    }

    span {
      margin: 0 rem(10);
    }
  }

  .button-row {
    padding-top: rem(12);
  }
}

.article-region-row {
  padding: 0;

  & > div {
    width: 100%;
  }
}


.details-row .button-share {
  margin-top: 0;
}

.details-row {

  .fb-like {
    float: right;
    span {
      margin: 0;
    }
  }
}


.section-thumb {
  padding-top: rem(30);
}

.button-row {
  padding-bottom: rem(20);
}

.button-row-paginate {
  .button {
    margin: 0;
  }
  .button-prev {
    float: left;
  }
  .button-next {
    float: right;
  }
}

.search-row {

  .logo {
    margin-top: rem(15);
    width: rem(58);
    height: rem(44);
  }
  
  .search-row-input {
    top: rem(60);
    right: rem(10);
    left: rem(10);
    width: auto;
    padding: 0;
  }

  .button-search {
    position: relative;
    top: auto;
    right: auto;
    margin: rem(20) 0;
    width: 100%;
  }

  .input-search {
    font-size: rem(15);
    padding: rem(10) 0;
    width: 100%;
  }
}

.search-row-results {
  top: rem(190);
  padding: 0;

  .container {
    padding: 0 rem(10);
  }
}

.section-bio {
  padding: rem(60) 0;
  .thumb-author {
    margin-bottom: rem(60);
  }
}

.sly-controls { 
  display: none;
}