.row-up {
  height: rem(80);
  padding-top: rem(16);
}


.details-row {
  margin-top: 0;
  padding: rem(40) 0;
  
  .button {
    margin-top: rem(20);
    width: 100%;
  }

  .fb-like, 
  .fb-like span {
    margin: 0;
    display: block;
  }
}

.details-row-secondary {
  padding: rem(20) 0 0 0;
}

.button-row {
  padding-top: rem(12);
}

.article-region-row {
  padding: 0;

  & > div {
    width: 100%;
  }
}


.section-thumb {
  padding-top: rem(30);
}

.button-row {
  padding-bottom: rem(20);
}

.search-row {

  .logo {
    margin-top: rem(15);
    width: rem(58);
    height: rem(44);
  }
  
  .search-row-input {
    top: rem(60);
    right: rem(10);
    left: rem(10);
    width: auto;
    padding: 0;
  }

  .button-search {
    position: relative;
    top: auto;
    right: auto;
    margin: rem(20) 0;
    width: 100%;
  }

  .input-search {
    width: 100%;
  }
}

.search-row-results {
  top: rem(212);
  .container {
    padding: 0 rem(10);
  }
}


.section-bio {
  padding: rem(40) 0 rem(60) 0;
  .thumb-author {
    margin-bottom: rem(60);
  }
}