.up {
  height: rem(80);

  a {
    .icon-arrow-up {
      display: inline-block;
      margin-right: rem(8);
    }

    font-size: rem(15);
    line-height: rem(80);
  }
}

.details-row {
  .button {
    margin-top: rem(20);
  }
  span {
    margin: 0 rem(10);
  }
}

.article-row {
  padding-top: 0;
  
  .article-row-content {
    padding: 0;
  }

  .details-row {
    margin-top: 0;
  }
  .button-row {
    padding-bottom: 0;
  }
}

.section-thumb {
  padding-top: rem(30);
}

.button-row {
  padding-bottom: rem(20);
}

.search-row {

  .logo {
    margin-top: rem(15);
    width: rem(58);
    height: rem(44);
  }
  
  .search-row-input {
    top: rem(60);
    right: rem(10);
    left: rem(10);
    width: auto;
    padding: 0;
  }

  .button-search {
    position: relative;
    top: auto;
    right: auto;
    margin: rem(20) 0;
    width: 100%;
  }

  .input-search {
    font-size: rem(15);
    padding: rem(10) 0;
  }
}

.search-row-results {
  top: rem(190);
  padding: 0;

  .container {
    padding: 0 rem(10);
  }
}