.no-scroll, .no-scroll body {
  overflow: hidden;
}

// centered content
.content-wrap {
  display: table;
}

.content-row {
  display: table-cell;
  vertical-align: middle;
}


.m-wrap {
  opacity: 1;
  @include transition(opacity 1s ease);
}
.m-transparent {
  opacity: 0;
}


.blanket {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
}

.blanket-alpha {
  background: $white;
  opacity: 0.97;
}

.blanket,
.blanket-light, 
.blanket-overlay {
  top: 0;
  @extend %absolute;
  width: 100%;
  height: 100%;
}
.blanket-light {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.25) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.25) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
}

//------------------
// Rows
//------------------
.row-up {
  background-color: $blue;
  height: rem(160);
  padding-top: rem(56);
  @extend %text-center;
  @extend %relative;
}

.button-row {
  padding-top: rem(30);
  padding-bottom: rem(60);
  @extend %text-center;
  @extend %clearfix;
}

.button-row-left {
  text-align: left;
}

.button-row-paginate {
  text-align: left;
  .button-next {
    float: right;
  }
  .button-prev {
    float: left;
  }
}

.details-row {
  margin-bottom: 0;
  padding: 0 rem(40);
  margin-top: rem(20);
  @extend %clearfix;

  span {
    margin: 0 rem(20);
  }

  .bullet {
    background-color: #cccccc;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    height: rem(5);
    width: rem(5);
  }

  .button-share {
    margin-top: rem(-23);
    @extend %pull-right;
  }

  .details-row-right {
    display: inline-block;
  }

  a {
    color: $black;
    &:hover {
      color: $pink;
      text-decoration: none;
      border-bottom: none;
    }
  }
}

.details-row-secondary {
  margin-top: 0;
  color: #cccccc;
  text-align: center;
  padding: rem(40) rem(80) 0 rem(80);
}


.article-region-row {
  display: table;
  width: 100%;
  padding: 0 rem(40);

  p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
  }
}


.search-row {

  .search-row-input {
    padding: 0 rem(140);
    width: 100%;
    padding-top: rem(35);
  }
 
  .button-search {
    float: right;
    margin-top: rem(-54);
    width: rem(170);
  }

  .input-search {
    margin-right: rem(180);

    input {
      background-color: transparent;
      border: none;
      font-size: rem(24);
      padding: rem(20) 0 rem(8) 0;
      width: 100%;
    }
    .input-search-underline {
      height: 2px;
      background-color: $pink;
    }
  }
}

.search-row-results {
  left: 0;
  right: 0;
  bottom: 0;
  top: rem(95);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: auto;
  position: absolute;

  .container {
    max-width: rem(1140);
    margin: 0 auto;
    padding: rem(60) rem(140) 0 rem(140);
  }
}

.section-bio {
  padding: rem(100) 0;
  
  .thumb-author, .h-5 {
    margin-bottom: 0;
  }
}

.sly-controls {
  .sly-next,
  .sly-prev,
  .sly-next:active,
  .sly-prev:active,
  .sly-next:focus,
  .sly-prev:focus {
    background-color: transparent;
    border: none;
    color: $white;
    display: block;
    font-size: 30px;
    outline: none;
    position: absolute;
  }

  .sly-prev {
    left: rem(20);
    top: 50%;
  }
  .sly-next {
    top: 50%;
    right: rem(20);
  }

  .sly-next:hover,
  .sly-prev:hover {
    cursor: pointer;
  }

  .disabled, 
  .disabled:hover {
    opacity: 0.4;
    color: $white;
  }
}