@media all and (max-width: rem(599)) {

  .bp1-1 {
    width: 100%;
  }

  .thumb {
    .thumb-caption, .thumb-link, .thumb-time, .thumb-views {
      font-size: rem(28);
    }

    .thumb-title {
      font-size: rem(40);
    }
  }



  .button {
    width: 100%;
  }

  .details-row {
    .button {
      margin-top: rem(20);
    }
  }
}