@import 'util';

@media all and (max-width: em(640)) {
  
  .h-1 {
    font-size: rem(56);
  }
  .h-2 {
    font-size: rem(28);
  }
  .h-4 {
    font-size: rem(24);
  }

  .next-feature {
    .next-bg {
      background-size: 180% auto;
    }    
  }

  .bp1-1 {
    width: 100%;
  }

  .thumb {
    .thumb-caption, .thumb-link, .thumb-time, .thumb-views {
      font-size: rem(28);
    }

    .thumb-title {
      font-size: rem(40);
    }
  }
}