@media all and (max-width: rem(599)) {

  @import 'assembly_bp1';
  @import 'module_thumb_bp1';
  @import 'row_header_bp1';

  // grid
  .f-row {
    padding: 0;
  }

  .bp1-1 {
    width: 100%;
  }

  // buttons
  .button {
    font-size: rem(15);
    width: 100%;
  }

  .button-large {
    width: auto;
    padding: rem(14) rem(30);
  }

  // instabinge 
  .instabinge {
    height: rem(335);
    padding: rem(40) 0 0 0;
    .h-1 {
      font-size: rem(20);
      margin-bottom: rem(40);
    }
    .belt {
      height: rem(170);
    }
  }

  //footer
  .footer {
    height: rem(30);
    font-size: 9px;

    .footer-legals, .footer-links {
      line-height: rem(30);
    }
  }
}