@media all and (max-width: rem(767)) { 
  
  .bp2-1 {
    width: 100%;
  }
  .bp2-1-2 {
    width: 50%;
  }

  .section-thumb-bg .thumb {
    min-height: rem(430);
  }

  .header {
    .content {
      padding: rem(180) 0;
    }
    .link { 
      font-size: rem(24);
    }
  }

  .feature {
    .content {
      padding: rem(260) 0;
    }
  }

  .next-feature {
    .next-bg {
      background-size: 180% auto;
    }    
  }

  .nav {
    .logo {
      margin-top: rem(15);
      width: rem(125);
      height: rem(93);
    }
    .nav-item {
      margin-top: rem(40);
    }
    .nav-menu {
      margin-right: rem(20);
      i {
        width: rem(36);
        height: rem(33);
      }
    }
    .nav-search i {
      width: rem(30);
      height: rem(32);
    }

    .nav-links {
      margin-left: rem(-200);
      width: rem(400);
      .nav-links-primary li {
        font-size: rem(40);
        margin: rem(40) 0; 
      }

      .nav-links-secondary li {
        font-size: rem(28);
        margin: 0 rem(30); 
      }
    }
  }

  .nav-active {
    .nav-menu { 
      a:before {
        font-size: rem(24);
        right: rem(88);
        top: rem(41);
      }
      i {
        width: rem(38);
        height: rem(36);
      }
    }
  }

  .h-1 {
    font-size: rem(56);
  }
  .h-2 {
    font-size: rem(28);
  }
  .h-4 {
    font-size: rem(24);
  }

}