@media all and (max-width: rem(599)) { 
  
  .bp2-1 {
    width: 100%;
  }
  .bp2-1-2 {
    width: 50%;
  }

  .header {
    .content {
      padding: rem(180) 0;
    }
    .link { 
      font-size: rem(24);
    }
    .h-1 {
      font-size: rem(56);
    }
  }

  .feature {
    .content {
      padding: rem(235) 0 0 0;
    }

    .feature-carousel {
      .flex-direction-nav {
        display: none;
      }
    }
  }

  .category {
    .content {
      padding: 0;
    }

    .category-h2, .category-branding .category-h2 {
      display: none;
    }

    .category-h1 {
      margin-bottom: 0;
      margin-top: rem(36);
    }
    .category-branding img {
      margin-top: rem(10);
    }
  }

  
  // .h-1 {
  //   font-size: rem(56);
  // }
  // .h-2 {
  //   font-size: rem(28);
  // }
  // .h-4 {
  //   font-size: rem(24);
  // }

  .article-row {
    p, ul, h1, h2, h3, h4, h5, h6 {
      padding: 0;
    }
    .details-row {
      padding: rem(20) 0;
    }
  }


  .dropdown .icon-arrow-down {
    top: rem(17);
  }

  .button-row-paginate {
    .button-prev {
      float: left;
      margin: 0;
    }
    .button-next {
      float: right;
      margin: 0;
    }
  }

  @import 'module_modal_bp2';
  @import 'row_instabinge_bp2';

  
  
}