.button {
  background-color: transparent;
  border: 2px solid $pink;
  border-radius: 40px;
  display: inline-block;
  font-size: rem(18);
  height: rem(54);
  padding: rem(14) rem(30);
  margin: 0 auto;
  min-width: rem(170);
  @extend %relative;
  @extend %pink;
  @extend %text-center;
  // @include transition(background-color 500ms ease);
  &:hover {
    cursor: pointer;
    color: $white;
    background-color: $pink;
    border-color: $pink;
  }

  &:focus, &:active {
    outline: none;
  }

  &:active {
    @include transition(none);
    color: #fff;
    background-color: $highlight;
    border-color: $highlight;
  }
}

.button-large {
  width: rem(296);
}

.button-disabled, 
.button-disabled:hover {
  color: #D3D3D3;
  border-color: #D3D3D3;
  background-color: transparent;
  cursor: default;
}

// button hides text and shows spinner
.button-loading,
.button-loading:hover,
.button-loading:active {
  background-color: transparent;
  color: $pink;
}

.button-loading .loader {
  display: block;
}

.button-loading span {
  visibility: hidden;
}

.button-share {
  width: auto;
  .icon-share {
    font-size: rem(22);
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(6);
    margin-top: rem(-5);
  }
}

.button-search {
  .icon-search {
    font-size: rem(22);
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(6);
  }
}

.button-url {
  color: $black;
  padding: 0 rem(20);
  max-width: rem(600);
  width: 100%;
  @include box-sizing(border-box);
  &:hover {
    color: $black;
    background-color: $white;
  }
}

.button-next .icon-arrow-next, 
.button-prev .icon-arrow-prev {
  font-size: 24px;
  top: rem(12);
  @extend %absolute;
}

.button-prev, 
.button-next {
  min-width: 0;
  width: rem(115);
}

.button-prev {
  padding-left: rem(34);
  padding-right: 0;
  .icon-arrow-prev {
    left: rem(20);
  }
}

.button-next {
  padding-left: 0;
  padding-right: rem(34);
  .icon-arrow-next {
    right: rem(20);
    left: auto;
  }
}

.button-gallery {
  background-color: transparent;
  min-width: 0;
  padding: rem(12) rem(24);
  margin: 0 rem(10);

  .icon-thumbs, .icon-expand {
    font-size: 24px;
  }

  &:hover {
    background-color: transparent;
    color: $white;
    border-color: $white;
  }
}

.dropdown {
  background-color: #F6F6F6;
  padding: 0;
  text-align: left;
  min-width: rem(200);

  &:hover, &:active {
    background-color: $pink; 
    border-color: $pink; 
    .dropdown-label {
      color: $white;
    }
  }

  .dropdown-label {
    @extend %pink;
    border-radius: 40px;
    display: block;
    padding: rem(14) rem(50) rem(14) rem(30);
  }  

  .icon-dropdown {
    right: rem(18);
    top: rem(15);
    @extend %absolute;
  }

  .dropdown-items {
    top: rem(51);
    width: 100%;
    background-color: $white;
    display: none;
    @include box-shadow(1px 1px 3px rgba(0,0,0,0.4));
    @extend %absolute;
    z-index: 100;

    .dropdown-item {
      border-top: 1px solid #ddd;
      padding: rem(10) rem(14);
      @extend %block;
      @extend %relative;

      &:first-child {
        border-top: none;
      }
    }

    .dropdown-item-active {
      color: $pink;
    }

    .dropdown-item-active:before {
      content: '\e605';
      font-family: 'LWA-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      
      @extend %absolute;
      top: rem(12);
      right: rem(12);
    }
  }
}

.dropdown-active {
  background-color: $pink;
  .dropdown-label {
    color: $white;
  }
  .dropdown-items {
    display: block;
  }
}