.form-row {
  .form-row-content {
    margin: 0 auto;
    max-width: rem(500);
    padding-top: rem(120);
    width: 100%;

    h1, p {
      padding: 0;
    }
  }
}

.form-subscribe {
  margin-top: rem(90);

  .input {
    margin-right: rem(155);
  }

  .button {
    float: right;
    margin-top: rem(-35);
  }
}

input[type='text'], 
input[type='email'] {
  background-color: transparent;
  border: none;
  background-color: #ddd;
  font-size: rem(18);
  color: $black;
  padding: rem(4) rem(8);
  width: 100%;
}

.input-clearable {
  position: relative;
  
  input {
    padding-right: rem(30);
  }
  
  .button-input {
    position: absolute;
    right: rem(5);
    top: rem(15);
  }
}