// ------------------------------------------------
//  GRID (fixed gutters, fluid columns)
// ------------------------------------------------

.f-grid,
.f-center {
  margin: 0 auto;
}

.f-grid {
  max-width: rem(1160);
}

.f-row {
  height: 100%;
  & > div {
    @extend %relative;
    padding: 0 rem(10);
    height: 100%;
  }

  @extend %clearfix;
  padding: 0 rem(10);
  
  // fixed
  .f-3-4-fixed {
    margin-right: rem(316);
    float: none;
  }

  .f-300 {
    height: auto;
    position: absolute;
    right: rem(16);
    top: rem(60);
    padding: 0;
    width: rem(300);
  }

}

.relative {
  position: relative;
  min-height: rem(1605);
}

// proportions
.f-1 {
  width: 100%;
  @extend %pull-left;
}

.f-1-2 {
  width: 50%;
  @extend %pull-left;
}

.f-2-3 {
  width: 66.66666666666666%;
  @extend %pull-left;
}

.f-1-3 {
  width: 33.33333333333333%;
  @extend %pull-left;
}

.f-1-4 {
  width: 25%;
  @extend %pull-left;
}

.f-3-4 {
  width: 75%;
  @extend %pull-left;
}

.f-5-6 {
  width: 83.33333333333334%;
}