@import 'util';

.grid {
  max-width: em(1160);
  margin: 0 auto;
}

.g-row {
  & > div {
    @extend %pull-left;
    padding: 0 rem(10);
  }

  @extend %relative;
  @extend %clearfix;
  padding: 0 em(10);
}

// proportions
.g-1 {
  width: 100%;
}

.g-1-2 {
  width: 50%;
}