@import 'util';

.grid {
  max-width: rem(1160);
  margin: 0 auto;
  @extend %relative;
}

.row {
  @extend %clearfix;
  padding: 0 rem(10);

  & > div {
    @extend %pull-left;
  }
}

.row {
  @extend %relative;
  @extend %clearfix;
  padding: 0 em(10);
}

// proportions
.row-1 {
  width: 100%;
}