@font-face {
  font-family: 'LWA-icons';
  src:url('./fonts/LWA-icons.eot?nb0yxy');
  src:url('./fonts/LWA-icons.eot?#iefixnb0yxy') format('embedded-opentype'),
    url('./fonts/LWA-icons.woff?nb0yxy') format('woff'),
    url('./fonts/LWA-icons.ttf?nb0yxy') format('truetype'),
    url('./fonts/LWA-icons.svg?nb0yxy#LWA-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'LWA-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-views:before {
  content: "\e600";
}
.icon-thumbs:before {
  content: "\e601";
}
.icon-share:before {
  content: "\e602";
}
.icon-search:before {
  content: "\e603";
}
.icon-menu:before {
  content: "\e604";
}
.icon-likes:before {
  content: "\e605";
}
.icon-dropup:before {
  content: "\e606";
}
.icon-dropdown:before {
  content: "\e607";
}
.icon-close:before, %icon-close:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-arrow-right:before, .icon-arrow-next:before {
  content: "\e60a";
}
.icon-arrow-left:before, .icon-arrow-prev:before {
  content: "\e60b";
}
