.thumb {
  margin-bottom: rem(30);
  
  .thumb-title {
    font-size: rem(20);
    margin-bottom: rem(5);
  }

  .thumb-caption {
    font-size: rem(14);
    margin-bottom: 0;
  }

  .thumb-feature {
    margin: rem(10) 0;
  }
}

.thumb-views {
  i {
    font-size: 20px;
  }
}
  
.thumb-inline {
  margin-bottom: rem(16);
  
  .thumb {
    margin-bottom: rem(0);
  }

  .thumb-title {
    font-size: rem(15);
  }

  .thumb-time {
    left: rem(5);
    bottom: rem(5);
  }

  .thumb-views {
    right: rem(5);
    bottom: rem(5);
    i {
      font-size: 15px;
    }
  }

  .thumb-caption {
    display: none;
  }
   
  .thumb-views, 
  .thumb-time {
    font-size: rem(12);
  }
}

.f-row .thumb-inline:nth-child(2n+2):after {
  content: '.';
  display: block;
  visibility: hidden;
  clear: both;
}


.thumb-category {
  padding-top: 0;
  p {
    margin: rem(10) 0;
    font-size: 12px;
  }

  .thumb-title {
    font-size: rem(28);
    line-height: rem(34);
  }

  .thumb-caption {
    font-size: 14px;
    margin-bottom: rem(20);
  }
}

.thumb-search {
  padding: 0;

  .thumb-details {
    margin-left: rem(175);
  }
  .thumb-caption {
    display: none;
  }
  .thumb-link {
    font-size: 11px;
  }
  .thumb-feature {
    margin: 0;
  }
}