.modal {
  background-color: $white;
  display: none;
  top: 0;
  left: 0; 
  bottom: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;

  &.modal-active {
    display: block;
  }
  .modal-close {
    color: $pink;
    display: block;
    font-size: rem(24);
    right: rem(30);
    top: rem(30);
    z-index: 10;
    @extend %absolute;
    
    &:hover {
      color: $highlight;
    }
  }

  .modal-view {
    height: 100%;
  }
  
  .modal-share-view {
    margin-top: rem(-225);
    height: rem(450);
    width: 100%; 
    top: 50%;
    padding: 0 em(20);
    @extend %absolute;
  }
}

.modal-share-actions, 
.modal-share-primary, 
.modal-share-secondary {
  @extend %text-center;
}

.modal-share-actions {
  padding: rem(40) 0;
  .button {
    margin: 0 rem(5);
  }
}

.modal-share-primary {
  font-size: rem(40);
  margin-bottom: rem(50);
  font-family:'AvantGardeGothicITCW01B 731063';
}

.modal-share-secondary {
  font-size: rem(24);
  margin-bottom: rem(60);
}

.modal-transparent {
  background-color: rgba(0,0,0,0.6);
  
  .modal-wrap {
    display: table;
    width: 100%;
    height: 100%;
  }

  .modal-wrap-row {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-close {
    color: $white;
  }

  .modal-view {
    height: auto;
    max-width: rem(1024);
    margin: 0 auto;
    @extend %relative;
  }
}

.modal-instabinge {

  .modal-view {
    margin: 0 auto;
  }

  .modal-view-image {
    width: 60%;
  }

  .modal-view-details {
    left: 60%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    @extend %absolute;
  }

  .frame .slidee {
    height: auto;
  }

  li {
    width: 100%;
    max-width: rem(1024);
    background-color: $white;
    @extend %relative;
  }
}

