.section-thumb {
  padding-top: rem(60);
}

.section-thumb-bg {
  background: #F6F6F6;
}

.thumb-wrap {
  height: rem(300);
}

.thumb {
  margin-bottom: rem(60);
  @extend %clearfix;

  .thumb-feature {
    margin: rem(20) 0;
    opacity: 1;
    @extend %block;
    @extend %relative;
    @include transition(opacity 200ms ease);

    &:hover {
      .blanket-light {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
      }
    }
  }

  .thumb-time, .thumb-views {
    @extend %absolute;
    font-size: rem(14);
    color: $white;
    bottom: rem(10);
  }

  .thumb-time {
    left: rem(10);
  }

  .thumb-views {
    right: rem(10);
  }

  .thumb-link {
    color: #000;

    &:hover {
      color: $pink;
    }
  }

  .thumb-title {
    @extend %gothic; 
    @extend %block;
  }
  
  .thumb-caption { 
    font-family:"Apercu Pro Light", 'Trebuchet MS', Arial, sans-serif;
  }

  img {
    width: 100%;
    display: block;
  }
}

.thumb-inline {
  .thumb {
    height: auto;
    margin-bottom: 0;
  }
  margin-bottom: rem(40);
}

.f-row .thumb-inline:nth-child(3n+3):after {
  content: '.';
  display: block;
  visibility: hidden;
  clear: both;
}

.thumb-category {
  padding: rem(80) rem(10);

  & > div {
    float: right;
  }
  
  .thumb-title {
    font-size: 56px;
    line-height: 68px;
    margin-bottom: rem(10);
    @extend %gothic; 
    @extend %block;
  }

  .thumb-caption {
    font-size: 18px;
  }

  .thumb, .thumb-feature {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.thumb-no-category {
  .thumb .thumb-feature {
    margin-top: 0;
  }

  .thumb-link.h-5 {
    display: none;
  }
}

.thumb-search {
  margin-bottom: rem(40);
  padding: 0 rem(5);
  .thumb-feature {
    margin: 0;
    width: rem(168);
    @extend %pull-left;
  }

  .thumb-details {
    margin-left: rem(190);
  }

  .thumb-time {
    left: rem(10);
    bottom: rem(10);
  }
  
  .thumb-link {
    font-size: 16px;
    margin-bottom: rem(5);
  }

  .h-2 {
    font-size: 24px;
    margin-bottom: 0;
  }

  .h-5 {
    margin-bottom: 0;
  }
}

.thumb-views {
  display: inline-block;
  i {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-top: rem(-4);
  }
}

.thumb-blanket {
  border-radius: 260px;
  opacity: 0;
  @include transition(opacity 200ms ease);
  span {
    display: block;
    margin-top: 48%;
  }
}

.thumb-author {
  margin-bottom: rem(100);
  text-align: center;

  .thumb-author-image {
    display: inline-block;
    margin-bottom: rem(10);
    max-height: rem(260);
    max-width: rem(260);
    border-radius: 260px;
    overflow: hidden;
    position: relative;
  }
  .thumb-author-image:hover {
    .thumb-blanket {
      opacity: 1;
    }
  }

  .thumb-author-details {
    display: block;
  }

  img {
    width: 100%;
  }

  
}