.thumb {
  
  .thumb-title {
    font-size: rem(15);
    margin-bottom: rem(5);
  }

  .thumb-time {
    font-size: rem(12);
    left: rem(5);
    bottom: rem(5);
  }

  .thumb-caption {
    font-size: rem(14);
    display: none;
  }

  .thumb-feature {
    margin: rem(10) 0;
  }
}


.thumb-touch-inline-fix {
  display: block;
}

.thumb-inline-fix {
  display: none;
}


.thumb-category {
  padding-top: 0;
  p {
    margin: rem(10) 0;
    font-size: 12px;
  }

  .thumb-title {
    font-size: rem(28);
    line-height: rem(34);
  }

  .thumb-caption {
    font-size: 14px;
    margin-bottom: rem(20);
  }
}


.thumb-search {
  padding: 0;

  .thumb-details {
    margin-left: rem(175);
  }
  .thumb-caption {
    display: none;
  }
  .thumb-feature {
    margin: 0;
  }
}


.thumb-author {
  margin-bottom: rem(60);
}