.modal {
  background-color: $white;
  display: none;
  top: 0;
  left: 0; 
  bottom: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;

  &.modal-active {
    display: block;
  }

  .modal-action {
    background-color: transparent;
    color: $pink;
    display: block;
    font-size: rem(24);
    @extend %absolute;
    z-index: 10;

    &:hover {
      cursor: pointer;
      color: $highlight;
    }
  }

  .modal-close {
    right: rem(30);
    top: rem(30);
  }

  .modal-view {
    height: 100%;
  }
  
  .modal-share-view {
    margin-top: rem(-225);
    height: rem(450);
    width: 100%; 
    top: 50%;
    padding: 0 em(20);
    @extend %absolute;
  }
}

.modal-scrollable {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.modal-share-actions, 
.modal-share-primary, 
.modal-share-secondary {
  @extend %text-center;
}

.modal-share-actions {
  padding: rem(40) 0;
  margin-bottom: rem(20);
  
  .button {
    margin: 0 rem(5);
    font-family: "Apercu Pro Medium", 'Trebuchet MS', Arial, sans-serif;
  }

  .button-url {
    margin: 0;
  }
}

.modal-share-buttons {
  margin-bottom: 0;
}

.modal-share-primary {
  font-size: rem(40);
  margin-bottom: rem(50);
  font-family:'AvantGardeGothicITCW01B 731063';
}

.modal-share-secondary {
  font-size: rem(24);
  margin-bottom: rem(60);
}

.modal-transparent {
  background-color: rgba(0,0,0,0.9);
  
  .modal-action {
    color: $white;
    &:hover {
      color: $pink;
    }
  }
  
  .modal-wrap {
    display: table;
    width: 100%;
    height: 100%;
  }

  .modal-wrap-row {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-close {
    color: $white;
    top: rem(20);
    right: rem(20);
  }

  .modal-view {
    height: auto;
    max-width: rem(1024);
    margin: 0 auto;
    position: relative;
  }
}

.modal-loader-icon {
  display: none;
}

.modal-loader-active {
  .modal-wrap-row {
    visibility: hidden;
  }

  .modal-loader-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(32);
    margin-left: rem(-16);
    margin-top: rem(-16);
  }
}

.modal-instabinge {

  .modal-view {
    margin: 0 auto;
    background-color: $white;
  }

  .modal-view-image {
    width: 60%;
    img {
      width: 100%;
    }
  }

  .modal-view-details {
    left: 60%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    @extend %absolute;
  }

  .modal-instabinge-frame {
    position: relative;
  }
}


.modal-gallery {
  display: block;
  visibility: hidden;
  
  &.modal-active {
    visibility: visible;
  }

  .modal-gallery-count,
  .modal-gallery-caption {
    color: $white;
    position: absolute;
  }

  .modal-gallery-count {
    left: rem(20);
    top: rem(20);
  }

  .modal-gallery-caption {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    bottom: rem(20);
    padding: 0 20%;
  }

  .modal-view {
    overflow: visible !important;
    width: 100%;
    max-width: 100%;

    // used for initial width calculation
    img {
      display: inline-block;
      vertical-align: middle;
    }

    li {
      height: 100%;
      text-align: center;
      position: relative;
    }
    li:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      text-align: left;
      margin-left: -5px;
      width: 0px;
    }

    .modal-gallery-width {
      width: 100%;
      height: auto;
    }

    .modal-gallery-height {
      height: 100%;
      width: auto;
    }
  }
}
