
.thumb {
  
}

.thumb-third {
  height: rem(345);

  .thumb-caption {
    display: none;
  }
}

.thumb-category {
  padding: rem(10) 0 rem(40) 0; 

  p {
    margin-top: rem(20);
    margin-bottom: rem(20);
  }
}