.section-thumb {
  padding-top: rem(60);
}

.section-thumb-bg {
  background: #F6F6F6;
}

.thumb {
  margin-bottom: rem(60);
  @extend %clearfix;

  .thumb-feature {
    @extend %relative;
    margin-bottom: rem(20);
  }

  .thumb-time, .thumb-views {
    @extend %absolute;
    font-size: rem(14);
    color: $white;
    bottom: rem(20);
  }

  .thumb-time {
    left: rem(20);
  }

  .thumb-views {
    right: rem(20);
  }

  .thumb-link {
    @extend %block;
    @extend %pink;
    margin-bottom: rem(20); 
  }

  img {
    width: 100%;
    display: block;
  }
}

.thumb-third {
  height: rem(430);
}

.thumb-category {
  padding: rem(80) 0;

  & > div {
    float: right;
  }
  
  .thumb-title {
    font-size: 56px;
    margin-bottom: rem(10);
  }

  .thumb-caption {
    font-size: 18px;
  }

  .thumb, .thumb-feature {
    margin-bottom: 0;
  }
}

.thumb-search {
  margin-bottom: rem(40);

  .thumb-feature {
    margin-bottom: 0;
    width: rem(168);
    @extend %pull-left;
  }

  .thumb-details {
    margin-left: rem(190);
  }

  .thumb-time {
    left: rem(10);
    bottom: rem(10);
  }
  
  .thumb-link {
    font-size: 16px;
    margin-bottom: rem(5);
  }

  .h-2 {
    font-size: 24px;
  }

  .h-5 {
    margin-bottom: 0;
  }
}

.data-views {
  display: inline-block;
  i {
    font-size: 14px;
    line-height: 17px;
    margin-right: rem(5);
  }
}