.modal {

  .modal-close {
    top: rem(16);
    right: rem(16);
  }

  .modal-share-view {
    text-align: center;
  }
}

.modal-share-actions {
  padding: 0;
  text-align: center;
  width: 100%;
}

.modal-share-buttons {
  max-width: rem(300);
  margin: 0 auto;

  .button {
    margin-bottom: rem(10);
  }

  .button-url {
    width: 100%;
  }
}

.modal-share-primary {
  font-size: rem(20);
  margin-bottom: rem(30);
}

.modal-share-secondary {
  font-size: rem(12);
  margin-bottom: rem(13);
}

.modal-instabinge {

  .modal-view-image {
    width: 100%;
  }  

  .modal-view-details {
    position: relative;
    left: auto;
    overflow: visible;
    padding-bottom: rem(10);
  }

  .modal-wrap-row {
    overflow: visible;
    padding: 0 rem(10);
  }
}

.modal-gallery {
  
  .modal-gallery-count {
    font-size: rem(15);
    top: rem(16);
  }

  .gallery-home {
    left: rem(-85);
    margin-left: rem(-85);
  }

  .gallery-home-active {
    left: 50%;
  }

  .modal-gallery-home {
    display: block;
  }

  //---------------------------------
  // Next gallery slide
  //---------------------------------
  .gallery-next {
    .thumb {
      margin: 0 rem(10);
    }
    .thumb .thumb-feature {
      width: 100%;
    }
  }

  .gallery-next {
    .h-1 {
      font-size: 30px;
      display: block;
      margin: rem(16) 0 rem(6) 0;
    }
    .h-3 {
      font-size: 20px;
      margin: 0 0 rem(20) 0;
    }
    .h-4 {
      font-size: 14px;
    }
  }
}