
.thumb {
  margin-bottom: rem(30);

  .thumb-feature {
    margin: rem(10) 0;
  }
  
  .thumb-title {
    font-size: rem(20);
    margin-bottom: rem(5);
  }

  .thumb-caption {
    font-size: rem(14);
    margin-bottom: 0;
  }

  .thumb-views {
    i {
      font-size: 20px;
      margin-right: rem(5);
    }
  }
}

.section-thumb-news {
  .thumb {
    margin-bottom: rem(0);
    height: rem(230);
  }

  .thumb-title {
    font-size: rem(15);
  }
  
  .thumb-caption {
    display: none;
  }

  .thumb-caption, .thumb-views, .thumb-time {
    font-size: rem(12);
  }

  .thumb-time {
    left: rem(5);
    bottom: rem(5);
  }

  .thumb-views {
    right: rem(5);
    bottom: rem(5);
    i {
      font-size: 15px;
      margin-right: rem(3);
    }
  }
}

.thumb-third {
  height: rem(345);

  .thumb-caption {
    display: none;
  }
}

.thumb-category {
  padding: rem(10) 0 rem(40) 0; 

  p {
    margin-top: rem(20);
    margin-bottom: rem(20);
  }
}