html, body, div, img, ol, ul, li, a, h1, h2, h3, h4, h5, h6, p,
header, footer, section, article, figure, figcaption, button, input {
  border: 0;
  font-family:"Apercu Pro Medium", 'Trebuchet MS', Arial, sans-serif;  
  font-weight:200; 
  font-style:normal;
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

.wf-apercupromedium-n6-loading,
.wf-apercuprolight-n2-loading {
  h3, h4, a, button, input, p, 
  .h-3, .h-4, .h-5,
  .header-category .header-category-h1,
  .header-category .header-category-h2,
  .thumb .thumb-caption,
  .thumb-category .thumb-caption,
  .section p, 
  .section li, 
  .section h1, 
  .section h2 {
    font-family: 'Trebuchet MS', Arial, sans-serif;  
  }
}

html {
  font-size: 100%;
  overflow-x: hidden; 
}

body {
  font-size: 16px;
  background-color: #fff;
  // better font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  @extend %block;
  height: auto;
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $pink;
  }
}

input:focus, 
button:focus, 
button:active {
  outline: none;
}