html, body, div, img, ol, ul, li, a, h1, h2, h3, h4, h5, h6, p,
header, footer, section, article, figure, figcaption, button, input {
  border: 0;
  font-family: verdana, Arial;
  font-weight: normal; 
  font-style:normal;
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html {
  font-size: 100%;
  overflow-x: hidden; 
}

body {
  font-size: 16px;
  background-color: #fff;
  // better font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  @extend %block;
  height: auto;
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $highlight;
  }
}

input:focus, 
button:focus, 
button:active {
  outline: none;
}