// instabinge 
.instabinge {
  height: rem(440);
  padding: rem(30) 0 0 0;

  .h-1 {
    font-size: rem(34);
    margin-bottom: rem(50);
  }
  
  .frame {
    height: rem(240);
    .slidee {
      li {
        width: rem(200);
      }
    }
  }

  .instabinge-prev, .instabinge-next {
    display: none;
  }
}

.instabinge-profile {
  padding: rem(10);
  
  .instabinge-profile-img {
    width: rem(60);
  }
  .instabinge-profile-details {
    height: rem(60);
    margin-left: rem(60);
  } 

  .instabinge-profile-details-primary,
  .instabinge-profile-details-secondary {
    padding: 0 rem(10);
  } 
}

.instabinge-secondary {
  font-size: rem(14);
  margin: 0 0 rem(10) 0;
}

.instabinge-username,
.instabinge-name,
.instabinge-when,
.instabinge-likes {
  display: inline-block;
}

.instabinge-user {
  font-size: 16px;
  padding: 0;
}

.instabinge-name,
.instabinge-when,
.instabinge-likes,
.instabinge-caption,
.instabinge-tags {
  font-size: 12px;
  margin: 0;
} 

.instabinge-caption {
  line-height: 1.45;
  display: block;
}
.instabinge-wrap {
  padding: rem(10);
  padding-top: 0;
}

.instabinge-comments {
  display: none;
}

.instabinge-captions {
  height: rem(48);
  overflow: hidden;
  padding-bottom: 0;
}