.instabinge {
  height: rem(645);
  padding: rem(80) 0 0 0;
  @extend %relative;
 
  .h-1 {
    font-size: rem(40);
    margin-bottom: rem(80);
    @extend %text-center;
  }

  .instabinge-link {
    color: $pink;
    display: block; 
    font-size: rem(14);
    margin-top: rem(8);
  }

  .frame {
    height: rem(300);

    .slidee {
      a {
        display: block;
      }
      a:hover {
        cursor: pointer;
        img {
          opacity: 0.8;
        }
      }

      li {
        margin-right: 2px;
        width: rem(262);
      }
    }
  }
}

.frame {
  width: 100%;

  .slidee {
    height: 100%;
    list-style: none;
  
    li {
      float: left;
    }

    img {
      width: 100%;
    }
  }
}

.instabinge-controls, .sly-controls {
  .instabinge-next,
  .instabinge-prev,
  .instabinge-next:active,
  .instabinge-prev:active,
  .instabinge-next:focus,
  .instabinge-prev:focus,
  .sly-next,
  .sly-prev,
  .sly-next:active,
  .sly-prev:active,
  .sly-next:focus,
  .sly-prev:focus {
    background-color: transparent;
    border: none;
    color: $white;
    display: block;
    font-size: 30px;
    outline: none;
    position: absolute;
    top: 50%;
  }

  button:hover {
    cursor: pointer;
  }

  .instabinge-prev, .sly-prev {
    left: 20px;
  }
  .instabinge-next, .sly-next {
    right: 20px;
  }

  .disabled {
    opacity: 0.4;
  }
}

.instabinge-profile {
  @extend %clearfix;

  .instabinge-profile-img {
    width: rem(150);
    float: left;
  }
  .instabinge-profile-details {
    margin-left: rem(170);
  } 
}

.instabinge-secondary {
  font-size: rem(18);
  margin: 0 0 rem(20) 0;
}

.instabinge-comment, 
.instabinge-comments {
  padding: rem(20) rem(20) 0 rem(20);
}

.instabinge-username {
  font-size: 24px;
  padding: rem(20) 0 rem(3) 0;
}
.instabinge-name {
  font-size: 18px;
  margin-bottom: rem(20);
}
.instabinge-when {
  color: #B8B8B8;
  font-size: 14px;
  margin-bottom: rem(20);
} 
.instabinge-likes {
  font-size: 18px;
}

.instabinge-other-comments {
  li {
    margin-bottom: rem(20);
    list-style: none;
  }
  
  .instabinge-comment,
  .instabinge-username {
    padding: 0;
  }
  .instabinge-username {
    color: $pink;
    font-size: 14px;
  }
}