.header {
  height: rem(600);
  background-color: $pink;
  @extend %relative;

  .link {
    display: block;
    &:hover {
      color: $white;
    }
  }
}

.header-small {
  background-color: $black;
  height: rem(150);
  overflow: visible;
}

.header-content {
  text-align: center;
  width: 66.66666666666666%;
  margin: 0 auto;
}


.header-feature,
.header-carousel .header-carousel-slides,
.header-gallery .header-gallery-wrap {
  height: rem(748);
}

.header-feature {
  background-color: $black;
  color: $white;
  overflow: hidden;
  @include transition(height 300ms ease);

  .link, 
  .link:hover {
    color: $white;
  }

  .header-feature-bg {
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .header-feature-text {
    background-color: $pink;
  }

  .header-feature-category {
    margin-bottom: rem(36);

    .header-feature-category-item {
      display: inline-block;
      vertical-align: bottom;
    }

    .h-5, .icon-close, img {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: bottom;
    }
    
    .icon-close {
      margin: 0 rem(20);
    }
    
    .category-logo {
      width: rem(90);
      position: relative;
      left: auto;
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .header-feature-text,
  .header-feature-img {
    height: 100%;
  }
}


.header-carousel {

  .header-carousel-slides {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
  }

  .header-slide {
    height: 100%;
  }
  
  .rsBullets {
    left: 0;
    right: 0;
    position: absolute;
    bottom: rem(50);
    text-align: center;
    z-index: 100;
  }

  .rsBullets .rsBullet {
    margin: 0 rem(14);
    display: inline-block;
  }

  .rsBullets .rsBullet span {
    background-color: $white;
    border-radius: 20px;
    height: rem(8);
    width: rem(8);
    display: block;
    position: relative;
  }
  .rsBullets .rsBullet span:hover {
    cursor: pointer;
  }

  .rsBullets .rsNavSelected span:after {
    content: '';
    background: rgba(255, 255, 255, 0.4);
    border-radius: 40px;
    height: rem(18);
    width: rem(18);
    top: rem(-5);
    left: rem(-5);
    position: absolute;
  }
}

.header-carousel-controls {
  position: relative;
  z-index: 1000;

  .header-carousel-control {
    background-color: transparent;
    border: none;
    color: $white;
    display: block;
    font-size: 30px;
    position: absolute;
    margin-top: rem(357);
    left: rem(10);
    z-index: 100000;
  }
  
  .header-carousel-control.next {
    left: auto;
    right: rem(10);
  }
}


.header-category {
  background-color: $black;
  height: rem(300);
  overflow: visible;

  .feature-bg {
    @extend %absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .header-category-content {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .header-category-h1 {
    font-size: 44px;
    margin-bottom: rem(5);
  }

  .header-category-h2 {
    font-size: 14px;
    margin-bottom: rem(20);
  }

  .header-category-branded {
    position: absolute;
    right: rem(10);
    bottom: rem(20);
    text-align: right;

    .header-category-h2 { 
      display: inline-block;
      vertical-align: bottom; 
      margin: 0 rem(10) 0 0;    
    }

    img {
      display: inline-block;
      vertical-align: middle;
      width: rem(180);
    }
  }
}


.header-gallery {

  .m-wrap {
    height: 100%;
  }

  .header-gallery-title {
    opacity: 1;
    @include transition(opacity 300ms ease-out);
  }

  .header-gallery-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    @include transition(bottom 300ms ease-out);
  }

  .sly-controls {
    height: auto;
    position: relative;
    z-index: 1;
    
    .sly-prev, 
    .sly-next {
      top: rem(384);
    }
  }

  .header-gallery-overlay .blanket {
    background: none;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .header-gallery-overlay:hover .blanket {
    opacity: 0.5;
  }

  .active.header-gallery-overlay:hover .blanket {
    background-color: transparent;
  }
  .active.header-gallery-overlay .blanket {
    display: none;
  }

  &.header-gallery-thumbs-active {
    height: rem(898);
  }
  
  .header-gallery-wrap {
    @extend %relative;
  }
  

  .header-gallery-controls {
    bottom: rem(160);
    width: rem(210);
    left: 50%;
    margin-left: rem(-105);
    text-align: center;
    position: absolute;
  }

  .header-gallery-thumbs {
    height: rem(150);
    position: relative;
    
    li {
      width: rem(150);
      position: relative;
      @extend %pull-left;
      
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      img {
        display: block;
      }
    }

    .active:before {
      content: '';
      background-color: $pink;
      height: rem(20);
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .sly-prev, .sly-next {
      margin-top: rem(-10);
    }
  }

  .header-gallery-frame {
    .loader-icon {
      display: block;
    }
    
    li {
      height: 100%;
      position: relative;

      &:hover {
        cursor: pointer;
      }
    }
    li.active:hover {
      cursor: default;
    }
  }
}


//---------------------------------
// Next gallery slide
//---------------------------------
.gallery-next-overlay,
.gallery-next-wrap {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  bottom: 0;
  top: 0;
  @include transition(all 200ms ease);
}
.gallery-next-overlay {
  display: none;
}
.gallery-next-wrap {
  @include transform(translate3d(100%, 0, 0));
}

.gallery-end .gallery-next-overlay {
  display: block
}
.gallery-next-active { 
  .gallery-next-overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .gallery-next-wrap {
    @include transform(translate3d(0, 0, 0));
  }
  .sly-next {
    opacity: 0.3;
  }
}

.gallery-next {
  text-align: center;
  .h-1, .h-3, .h-4 {
    color: $white;
  }

  .h-1 {
    margin-bottom: 0;
  }
  .h-3 {
    margin: rem(60) 0 rem(80) 0;
  }
  .h-4, .thumb {
    margin-bottom: 0;
  }

  .thumb .thumb-feature {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: rem(20);
    img {
      width: 100%;
    }
  }
}


//---------------------------------
// Back to start button
//---------------------------------
.gallery-home {
  left: rem(-60);
  top: rem(372);
  opacity: 0;
  position: absolute;
  z-index: 1;
  @include transition(all 200ms ease);
}

.gallery-home-active {
  opacity: 1;
  left: rem(120);
}


//---------------------------------
// Animate gallery elements
//---------------------------------
.animate-gallery {
  .header-gallery-title {
    opacity: 0;
  }

  .header-gallery-details  {
    bottom: -380px;
  }
}



.logo {
  @extend %pull-left;
  background: url('../../images/logo@2x.png') no-repeat left center;
  background-size: 100% auto;
  display: block;
  width: rem(112);
  height: rem(83);
  margin-top: rem(35);
}
  
.nav {
  top: 0;
  @extend %absolute;
  height: 0;
  width: 100%;
  z-index: 100000;

  .nav-item {
    @extend %pull-right;
    margin-top: rem(60);
    a {
      color: $white;
      display: block;
      font-size: 24px;
    }
  }

  .nav-search {
    margin-right: rem(60);
  }

  .nav-links {
    display: none;
    @extend %absolute;
    left: 50%;
    top: rem(100);
    margin-left: rem(-194);
    width: rem(388);
    text-align: center;
    
    li {
      list-style: none;
    }

    .nav-links-primary li {
      font-size: rem(24);
      margin: 0 0 rem(40) 0; 
    }

    .nav-links-secondary {
      margin-top: rem(60);
    }

    .nav-links-secondary li {
      display: inline-block;
      font-size: rem(16);
      margin: 0 rem(30); 
    }
  }
}

.nav-active {
  height: rem(585);

  .nav-menu .icon-menu {
    @extend %icon-close;
    color: $pink;
    display: inline-block;
  }

  .nav-links {
    display: block;
  }
}