.frame {
  width: 100%;

  .slidee {
    height: 100%;
    list-style: none;
  }

  .sly-slide {
    float: left;
  }

  img {
    width: 100%;
  }
}

// –------------------
// inline carousel
// –------------------
.instabinge {
  height: rem(645);
  padding: rem(80) 0 0 0;
  @extend %relative;
 
  .instabinge-header {
    margin-bottom: rem(80);
    text-align: center;
  }

  .h-1 {
    font-size: rem(40);
  }

  .instabinge-link {
    color: $pink;
    display: inline-block; 
    font-size: rem(14);
    margin-top: rem(8);
  }

  .frame {
    height: rem(300);

    .slidee {
      a {
        display: block;
      }
      
      .sly-slide:hover {
        cursor: pointer;
        img {
          opacity: 0.8;
        }
      }

      li {
        margin-right: 2px;
        width: rem(262);
      }
    }
  }
}


// –------------------
// modal view styles
// –------------------
.instabinge-profile {
  @extend %clearfix;

  .instabinge-profile-img {
    width: 38%;
    float: left;
    img {
      width: 100%;
    }
  }
  .instabinge-profile-details {
    margin-left: 38%;
  }

  .instabinge-profile-details-primary,
  .instabinge-profile-details-secondary {
    padding: 0 rem(20);
  } 
}

.instabinge-secondary {
  font-size: rem(18);
  margin: 0 0 rem(20) 0;
}

.instabinge-user {
  font-size: rem(24);
  padding: rem(20) 0 rem(3) 0;
  @extend %gothic; 
}

.instabinge-name {
  font-size: rem(18);
  margin-bottom: rem(20);
}

.instabinge-when {
  color: #B8B8B8;
  font-size: rem(14);
  margin-bottom: rem(20);
} 

.instabinge-likes {
  font-size: rem(18);
}

.instabinge-wrap {
  padding: rem(20) rem(20) 0 rem(20);

  .instabinge-comment {
    font-size: rem(14);
    list-style: none;
    margin-bottom: rem(20);

    .instabinge-username {
      color: $pink;
    }
  }
}