.header {
  height: rem(320);

  .header-content {
    width: 100%;
  }
  
  .link { 
    font-size: rem(12);
  }
  
  .h-4 {
    font-size: rem(14);
  }
  
  .h-1 {
    font-size: rem(28);
  }
}

.header-small {
  height: rem(75);
}

.header-feature {
  height: rem(400);

  .header-feature-bg {
    background-size: rem(800) auto;
  }

  .header-feature-category {
    margin-bottom: rem(40);
    
    .icon-close {
      font-size: 14px;
      margin: 0 rem(10);
    }
    
    .category-logo {
      width: rem(100);
    }
  }

  .feature-carousel {
    .flex-control-nav {
      bottom: rem(20);
    }

    img {
      margin-left: rem(-400);
      width: rem(800);
    }
    .flex-direction-nav {
      display: none;
    }
  }
}

.header-category {
  height: rem(150);
  
  .header-category-h1 {
    font-size: 22px;
    margin-bottom: rem(10);
  }
  .header-category-h2 {
    display: none;
  }

  .header-category-branded {
    bottom: rem(10);
    padding: 0;
    right: rem(5);
    img {
      width: rem(140);
    }
  }
}

.header-gallery {
  .header-gallery-wrap {
    height: rem(400);
  }
  &.header-gallery-thumbs-active {
    height: rem(550);
  }

  .header-content {
    width: 100%;
    margin-top: rem(-18);
  }
}

.nav {

  .logo {
    margin-top: rem(15);
    width: rem(58);
    height: rem(44);
  }
 
  .nav-menu, .nav-item {
    margin-top: rem(20);
  }

  .nav-links {
    top: rem(90);
    margin-left: rem(-160);
    width: rem(320);
    
    .nav-links-primary li {
      font-size: rem(20);
      margin: 0 0 rem(30) 0; 
    }

    .nav-links-secondary li {
      font-size: rem(14);
      margin: 0 rem(20); 
    }
  }
}

.nav-active {
  height: rem(400);
  
  .nav-menu { 
    a:before {
      font-size: rem(12);
      top: rem(20);
      right: rem(32);
    }
    .icon-menu {
      font-size: 18px;
    }
  }
}