// instabinge 
.instabinge {
  height: rem(440);
  padding: rem(30) 0 0 0;

  .h-1 {
    font-size: rem(34);
    margin-bottom: rem(50);
  }
  
  .frame {
    height: rem(240);
    .slidee {
      li {
        width: rem(200);
      }
    }
  }

  .instabinge-prev, .instabinge-next {
    display: none;
  }
}

.instabinge-profile {
  padding: rem(10);
  
  .instabinge-profile-img {
    width: rem(40);
  }
  .instabinge-profile-details {
    margin-left: rem(48);
  } 
}

.instabinge-secondary {
  font-size: rem(14);
  margin: 0 0 rem(10) 0;
}

.instabinge-username {
  font-size: 15px;
  padding: 0;
  float: left;
}
.instabinge-name {
  font-size: 12px;
  margin: rem(3) 0 0 rem(5);
  float: left;
}
.instabinge-when {
  font-size: 10px;
  margin: rem(6) 0 0 0;
  width: 90%;
  float: left;
} 
.instabinge-likes {
  font-size: 12px;
  float: right;
}

.instabinge-comment, 
.instabinge-comments {
  padding: 0 rem(10) 0 rem(10);
  font-size: 12px;
}

.instabinge-comments {
  padding-top: rem(10);
}

.instabinge-other-comments {
  li {
    margin-bottom: rem(10);
  }
  li:last-child {
    margin-bottom: 0;
  }
  .instabinge-username {
    font-size: 12px;
    float: none;
  }
}