.header {
  .h-1 {
    font-size: rem(50);
  }
}

.header-feature {
  height: rem(600);

  .content {
    padding: rem(150) 0 0 0;
  }

  .header-feature-bg {
    background-size: 200% auto;
  }

  .feature-carousel {
    .flex-direction-nav {
      display: none;
    }
  }
}


.header-category {
  height: rem(220);

  .header-category-h1 {
    font-size: 26px;
  }

  .header-category-h2 {
    display: none;
  }

  .header-category-branded {
    padding-right: rem(20);
  }
}

.nav {
  .logo {
    margin-top: rem(20);
    width: rem(90);
    height: rem(61);
  }
 
  .nav-menu, .nav-item {
    margin-top: rem(20);
  }
}

.nav-active {
  .nav-menu { 
    a:before {
      top: rem(20);
    }
  }
}
