.footer {
  background-color: $pink;
  font-size: rem(14);
  min-height: rem(55);
  @extend %relative;

  .footer-navigate {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 55px;
    top: 0;
  }

  &:hover {
    .blanket {
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
    }
  }
  .footer-legals, .footer-links {
    color: #C81019;
    line-height: rem(55);
  }

  .footer-legals {
    @extend %pull-left;
  }

  .footer-links {
    @extend %pull-right;
    a {
      color: #C81019;
    }
  }
}

.footer-small {
  bottom: 0;
  width: 100%;
  @extend %absolute;
}

.footer-next {
  color: $body-copy;
  min-height: rem(520);
  text-align: center;

  .footer-next-content {
    padding-top: rem(70);
    width: 66.66666666666666%;
    margin: 0 auto;
  }

  a {
    color: #000;
  }
}

.footer-next-feature {
  color: $white;

  .footer-next-bg {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 0;
    @extend %absolute;
  }

  a,
  .footer-legals, 
  .footer-links a {
    color: $white;
  }
}