.header {
  @extend %relative;
  background-color: $pink;

  .content {
    text-align: center;
    padding: rem(111) rem(80);
  }

  .link {
    display: inline-block;
    &:hover {
      color: $white;
    }
  }
}

.feature {
  height: rem(750);
  color: $white;

  .content {
    padding: rem(244) rem(80);
  }

  .link {
    color: $white;
    &:hover {
      color: $highlight;
    }
  }

  .feature-bg {
    @extend %absolute;
    background: url('images/header-feature.png') no-repeat center center;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.nav {
  @extend %absolute;
  background-color: $white;
  height: 0;
  width: 100%;
  z-index: 5;

  .logo {
    @extend %pull-left;
    background: url('images/logo@2x.png') no-repeat left center;
    background-size: 100% auto;
    display: block;
    width: rem(112);
    height: rem(83);
    margin-top: rem(35);
  }

  .nav-item {
    @extend %pull-right;
    margin-top: rem(60);
    a {
      display: block;
    }
  }

  .nav-menu {
    i {
      background: url('images/menu@2x.png') no-repeat left center;
      background-size: 100% auto;
      display: block;
      width: rem(24);
      height: rem(22);
    }
  }

  .nav-search {
    margin-right: rem(60);
    i {
      background: url('images/search@2x.png') no-repeat left center;
      background-size: 100% auto;
      display: block;
      width: rem(24);
      height: rem(25);
    }
  }

  .nav-links {
    display: none;
    @extend %absolute;
    left: 50%;
    top: 50%;
    margin-top: rem(-165);
    margin-left: rem(-160);
    width: rem(320);
    text-align: center;
    
    li {
      list-style: none;
    }

    .nav-links-primary li {
      font-size: rem(24);
      margin: rem(40) 0; 
    }

    .nav-links-secondary li {
      display: inline-block;
      font-size: rem(16);
      margin: 0 rem(30); 
    }
  }

  .f-row {
    height: 100%;
  }
}

.nav-active {
  height: 100%;

  .nav-menu { 
    a:before {
      content: 'close';
      color: $highlight;
      font-size: rem(18);
      @extend %absolute;
      right: rem(54);
      top: rem(60);
    }

    i {
      background: url('images/close@2x.png') no-repeat left center;
      background-size: 100% auto;
      display: inline-block;
    }
  }

  .nav-links {
    display: block;
  }
}