.loader {
  font-size: 3px;
  margin: 0 auto;
  text-indent: -9999em;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: $pink;
  background: -moz-linear-gradient(left, $pink 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, $pink 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, $pink 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, $pink 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, $pink 10%, rgba(255, 255, 255, 0) 42%);
  position: absolute;
  top: 13px;
  left: 45%;
  -webkit-animation: load3 1s infinite linear;
  animation: load3 1s infinite linear;
  display: none;
}
.loader-active {
  display: block;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: $pink;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner {
  height: 32px;
  width: 32px;
  background: url('static/images/sprites.gif') no-repeat center center;
}

.loader-container {
  height: rem(50);
  width: 100%;
  // text-align: center;
  position: relative;
  
  & > div {
    width: 100%;
  }

  img {
    display: inline-block;
    width: rem(32);
    height: rem(32);

    position: absolute;
    left: 50%;
    margin-left: rem(-16);
  }
}
