.swiper-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: rem(10);
  
  .shades {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: $black;
  }
  
  .active {
    .shades {
      display: none;
    }
  }
  
  img {
    height: 100% !important;
    width: auto !important;
  }
  
  .sly-controls {
    display: block !important;
    .sly-prev,
    .sly-next {
      margin-top: rem(-16);
    }
  }
}

.swiper-wrapper,
.swiper-slide {
  height: 100%;
}

.swiper-slide {
  float: left;
  position: relative;
}

.swiper-slide-active .shades {
  opacity: 0;
}