.h-1 {
  font-size: rem(70);
  font-weight: bold;
  margin-bottom: rem(30);
}

.h-2 {
  font-size: rem(28);
  margin-bottom: rem(10);
}

.h-3 {
  font-size: rem(22);
  margin-bottom: rem(30);
}

.h-4 {
  font-size: rem(18);
}

.h-5 {
  font-size: rem(14);
  margin-bottom: rem(35);
}