.h-1 {
  font-size: rem(70);
  margin-bottom: rem(30);
  @extend %gothic;
}

.h-2 {
  font-size: rem(28);
  margin-bottom: rem(10);
}

.h-3 {
  font-size: rem(22);
  margin-bottom: rem(30);
}

.h-4 {
  font-size: rem(18);
}

.h-5 {
  font-size: rem(14);
  margin-bottom: rem(35);
}

.header {
  .h-1 {
    margin: rem(30) 0;
  }
}

.link {
  font-family:'Apercu Pro Medium', 'Trebuchet MS', Arial, sans-serif; 
}

//---------------------------------------
// reserved for content editing articles
//---------------------------------------
p {
  font-size: rem(16);
  line-height: 1.7;
  margin-bottom: rem(30);
}

h1 {
  font-size: rem(24);
  margin: rem(30) 0;
  line-height: 1.3;
}

h2 {
  font-size: rem(22);
  margin: rem(30) 0;
  line-height: 1.2;
}

h3 {
  font-size: rem(20);
  margin: rem(40) 0 rem(20) 0;
}

h4 {
  font-size: rem(18);
  margin: rem(40) 0 rem(20) 0;
}

h5 {
  font-size: rem(16);
  margin: rem(40) 0 rem(20) 0;
}

h6 {
  font-size: rem(14);
  margin: rem(40) 0 rem(20) 0;
}

.article-row-content {
 
  p, li {
    font-family:"Apercu Pro Light", 'Trebuchet MS', Arial, sans-serif; 
  }

  p, ol, ul, h1, h2, h3, h4, h5, h6 {
    padding: 0 rem(80);
  }

  ol, ul {
    margin-bottom: rem(30);
  }
  
  li {
    font-size: rem(16);
    margin-left: rem(18);
    line-height: 1.7;
  }

  a {
    color: $pink;
    padding-bottom: 1px;
    &:hover {
      border-bottom: 1px solid $pink;
    }
  }
}