<html>
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>LWA Static Feature</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <header class="header feature">
    <div class="feature-bg"></div>
    <nav class="nav">
      <div class="f-grid f-row">
        <div class="f-1">
          <a href="#" class="logo"></a>
          <div class="nav-item nav-menu">
            <a id="nav" href="#"><i class="icon-menu"></i></a>
          </div>
          <div class="nav-item nav-search">
            <a href="#"><i class="icon-search"></i></a>
          </div>

          <div class="nav-links">
            <ul class="nav-links-primary">
              <li><a href="#">Tuesdays Without</a></li>
              <li><a href="#">Parties &amp; Bullshit</a></li>
              <li><a href="#">Twenty Four</a></li>
              <li><a href="#">News</a></li>
            </ul>
            <ul class="nav-links-secondary">
              <li><a href="#">Shop</a></li>
              <li><a href="#">Shot by</a></li>
              <li><a href="#">Info</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="f-grid f-row">
      <div class="f-1">
        <div class="content">
          <a class="link h-5" href="#">TwentyFour</a>
          <h1 class="h-1">Chris Gibbs knows how to influence street wear</h1>
          <h4 class="h-4">We spend 24 insightful hours with the Los Angeles retail uber-god</h4>
        </div>
      </div>
    </div>
  </header>
  
  <div class="article-row f-grid f-row">
    <div class="f-1">
      <div class="details-row">
        <a href="#">TwentyFour</a>
        <span>8d</span>
        <span class="data-views"><i class="icon-eye"></i>286</span>Facebook
        <a class="button button-share" href="javascript:void(0)"><i class="icon-share"></i>share this</a>
      </div>

      <p class="intro">
        Ever since he dropped his phenomenal debut Section.80, Kendrick Lamar has firmly cemented himself as one of this generation's greatest storytellers. 
      </p>
      <p>
        Hailing from the same city as legends like Dr. Dre and The Game, the Compton native has already been hailed by these legends as the future of the West Coast. After dropping what many hailed a modern classic in Good Kid, m.A.A.d City, he continued to send <a href="#">shockwaves throughout</a> the scene with his iconic Control verse.  We spent 24 hours with Lamar, and here's what happened.
      </p>
      <img src="../images/article_image.png">
      
      <p class="h-3">7:46am</p>
      <p>
        We woke up early to meet Lamar and his clique in their hotel. From there it was straight to business, stepping into a string of interviews for the day. Calm and composed, the emcee is confident behind the microphone: both one-on-one and in front of thousands of screaming fans.
      </p>
      <img src="../images/next.png">
      <img src="../images/article_image.png">
      <p class="h-3">7:46am</p>
      <p>
        We woke up early to meet Lamar and his clique in their hotel. From there it was straight to business, stepping into a string of interviews for the day. Calm and composed, the emcee is confident behind the microphone: both one-on-one and in front of thousands of screaming fans.
      </p>
      <ul>
        <li>We had some lunch</li>
        <li>We sang some songs</li>
        <li>We flew a kite</li>
      </ul>
      <div class="button-row">
        <a class="button button-share" href="javascript:void(0)"><i class="icon-share"></i>share this</a>
      </div>
      <div class="details-row details-row-secondary">
        Words by Christopher Kevin Au<span class="bullet"></span>Photos by Mitchel Tomlinson<span class="bullet"></span>12 Feburary 2014
      </div>
    </div>
  </div>

  <div class="up">
    <a id="back-up" href="javascript:void(0)"><i></i>back to top</a>
  </div>
  <footer class="footer next next-feature">
    <div class="next-bg"></div>
    <div class="blanket"></div>
    <div class="f-grid f-row">
      <div class="content">
        <h3 class="h-3">Next up...</h3>
        <h1 class="h-1">Up-close and personal with Kendrick Lamar</h1>
        <h4 class="h-4">One of this generations best story tellers</h4>
      </div>
    </div>
    <div class="f-grid f-row">
      <div class="f-1">
        <div class="footer-legals">&copy; Life Without Andy since 2008. All Rights Reserved.</div>
        <div class="footer-links">
          <a href="#">Disclaimer</a>
        </div>
      </div>
    </div>
  </footer>

  <div id="modal-share" class="modal">
    <a class="modal-close" href="javascript:void(0)"><i class="icon-close"></i></a>
    <div class="modal-view">
      <div class="modal-share-secondary">Share this</div>
      <div class="modal-share-primary">Chris Gibbs knows how to influence streetwear</div>
      <div class="modal-share-actions">
        <a class="button" href="#">Facebook</a>
        <a class="button" href="#">Twitter</a>
        <a class="button" href="#">Google+</a>
      </div>
      <div class="modal-share-actions">
        <div class="button button-url">
          http://www.someurlthatisquitelongtoremember.com.au
          <a class="button-url-copy" href="#">Copy URL</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../dist/build.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      LWA.Modules.Modal.init('.button-share', '#modal-share');
    });
  </script>

</body>
</html>