<html>
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>LWA Static Home</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  
  <div class="f-grid">
    <div class="f-row">
      <div class="f-1">
        <a class="button" href="#">Facebook</a>
        <a class="button" href="#">Twitter</a>
        <a class="button" href="#">Google+</a>
        <a class="button" href="#">load more features</a>
        <a class="button button-share" href="#"><i class="icon-share"></i> share this</a>
        <a class="button button-search" href="#"><i class="icon"></i> search</a>
        <div class="button button-url">
          http://www.someurlthatisquitelongtoremember.com.au
          <a class="button-url-copy" href="#">Copy URL</a>
        </div>
        <a class="button button-prev" href="#"><i class="icon-arrow-left"></i>prev</a>
        <a class="button button-next button-disabled" href="#"><i class="icon-arrow-right"></i>next</a>
        <div class="button dropdown">
          <i class="icon-triangle"></i>
          <a href="#" class="dropdown-label">sort by latest</a>
        </div>
      </div>
    </div>
  </div>

  <header class="header">
    <nav class="nav">
      <div class="f-grid f-row">
        <div class="f-1">
          <a href="#" class="logo"></a>
          <div class="nav-item nav-menu">
            <a id="nav" href="#"><i></i></a>
          </div>
          <div class="nav-item nav-search">
            <a href="#"><i></i></a>
          </div>

          <div class="nav-links">
            <ul class="nav-links-primary">
              <li><a href="#">Tuesdays Without</a></li>
              <li><a href="#">Parties &amp; Bullshit</a></li>
              <li><a href="#">Twenty Four</a></li>
              <li><a href="#">News</a></li>
            </ul>
            <ul class="nav-links-secondary">
              <li><a href="#">Shop</a></li>
              <li><a href="#">Shot by</a></li>
              <li><a href="#">Info</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="f-grid f-row">
      <div class="f-1">
        <div class="content">
          <a class="link h-5" href="#">Fashion</a>
          <h1 class="h-1">Nike Air Max Light Essentials</h1>
          <h4 class="h-4">We give you the complete run-down of the latest addition to the Air Max family</h4>
        </div>
      </div>
    </div>
  </header>

  <header class="header feature">
    <div class="feature-bg"></div>
    <nav class="nav">
      <div class="f-grid f-row">
        <div class="f-1">
          <a href="#" class="logo"></a>
          <div class="nav-item nav-menu">
            <a id="nav" href="#"><i></i></a>
          </div>
          <div class="nav-item nav-search">
            <a href="#"><i></i></a>
          </div>

          <div class="nav-links">
            <ul class="nav-links-primary">
              <li><a href="#">Tuesdays Without</a></li>
              <li><a href="#">Parties &amp; Bullshit</a></li>
              <li><a href="#">Twenty Four</a></li>
              <li><a href="#">News</a></li>
            </ul>
            <ul class="nav-links-secondary">
              <li><a href="#">Shop</a></li>
              <li><a href="#">Shot by</a></li>
              <li><a href="#">Info</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="f-grid f-row">
      <div class="f-1">
        <div class="content">
          <a class="link h-5" href="#">Fashion</a>
          <h1 class="h-1">Nike Air Max Light Essentials</h1>
          <h4 class="h-4">We give you the complete run-down of the latest addition to the Air Max family</h4>
        </div>
      </div>
    </div>
  </header>
  
  <div class="f-grid section-thumb">
    <div class="f-row">
      <div class="f-1-2 bp2-1">
        <div class="thumb">
          <a class="h-5 thumb-link" href="#">TwentyFour</a>
          <div class="thumb-feature">
            <img src="../images/thumb2.png">
            <span class="thumb-time">53m</span>
            <span class="thumb-views">5,213</span>
          </div>
          <h2 class="h-2 thumb-title">Chris Gibbs knows how to influence street wear</h2>
          <div class="h-5 thumb-caption">We spend twenty-four insightful hours with the Los Angeles retail uber-god and let this run over two lines max.</div>
        </div>
      </div>
      <div class="f-1-2 bp2-1">
        <div class="thumb">
          <a class="h-5 thumb-link" href="#">Parties & Bullshit</a>
          <div class="thumb-feature">
            <img src="../images/thumb3.png">
            <span class="thumb-time">12h</span>
            <span class="thumb-views">12,012</span>
          </div>
          <h2 class="h-2 thumb-title">Big Day Out 2014</h2>
          <div class="h-5 thumb-caption">A sublime line-up, the kind of BDO people will tell their grandkids about.</div>
        </div>
      </div>
    </div>
    <div class="f-row">
      <div class="f-1-2 bp2-1">
        <div class="thumb">
          <a class="h-5 thumb-link" href="#">Tuesdays</a>
          <div class="thumb-feature">
            <img src="../images/thumb1.png">
            <span class="thumb-time">53m</span>
            <span class="thumb-views">5,213</span>
          </div>
          <h2 class="h-2 thumb-title">Tuesday without Jae</h2>
          <div class="h-5 thumb-caption">The Sydney based duo bring a little colour to your Tuesday</div>
        </div>
      </div>
      <div class="f-1-2 bp2-1">
        <div class="thumb">
          <a class="h-5 thumb-link" href="#">TwentyFour</a>
          <div class="thumb-feature">
            <img src="../images/thumb4.png">
            <span class="thumb-time">53m</span>
            <span class="thumb-views">5,213</span>
          </div>
          <h2 class="h-2 thumb-title">Chris Gibbs knows how to influence street wear</h2>
          <div class="h-5 thumb-caption">We spend twenty-four insightful hours with the Los Angeles retail uber-god and let this run over two lines max.</div>
        </div>
      </div>
    </div>
    <div class="button-row">
      <a class="button button-large" href="#">load more features</a>
    </div>
  </div>
  
  <div class="section-thumb-bg">
    <div class="f-grid section-thumb">
      <div class="f-row">
        <div class="f-1-3 bp2-1-2">
          <div class="thumb">
            <a class="h-5 thumb-link" href="#">TwentyFour</a>
            <div class="thumb-feature">
              <img src="../images/thumb2.png">
              <span class="thumb-time">53m</span>
              <span class="thumb-views">5,213</span>
            </div>
            <h2 class="h-2 thumb-title">Chris Gibbs knows how to influence street wear</h2>
            <div class="h-5 thumb-caption">We spend twenty-four insightful hours with the Los Angeles retail uber-god and let this run over two lines max.</div>
          </div>
        </div>
        <div class="f-1-3 bp2-1-2">
          <div class="thumb">
            <a class="h-5 thumb-link" href="#">TwentyFour</a>
            <div class="thumb-feature">
              <img src="../images/thumb2.png">
              <span class="thumb-time">53m</span>
              <span class="thumb-views">5,213</span>
            </div>
            <h2 class="h-2 thumb-title">Chris Gibbs knows how to influence street wear</h2>
            <div class="h-5 thumb-caption">We spend twenty-four insightful hours with the Los Angeles retail uber-god and let this run over two lines max.</div>
          </div>
        </div>
        <div class="f-1-3 bp2-1-2">
          <div class="thumb">
            <a class="h-5 thumb-link" href="#">TwentyFour</a>
            <div class="thumb-feature">
              <img src="../images/thumb2.png">
              <span class="thumb-time">53m</span>
              <span class="thumb-views">5,213</span>
            </div>
            <h2 class="h-2 thumb-title">Chris Gibbs knows how to influence street wear</h2>
            <div class="h-5 thumb-caption">We spend twenty-four insightful hours with the Los Angeles retail uber-god and let this run over two lines max.</div>
          </div>
        </div>
        <div class="f-1-3 bp2-1-2">
          <div class="thumb">
            <a class="h-5 thumb-link" href="#">Tuesdays</a>
            <div class="thumb-feature">
              <img src="../images/thumb1.png">
              <span class="thumb-time">53m</span>
              <span class="thumb-views">5,213</span>
            </div>
            <h2 class="h-2 thumb-title">Tuesday without Jae</h2>
            <div class="h-5 thumb-caption">The Sydney based duo bring a little colour to your Tuesday</div>
          </div>
        </div>
        <div class="f-1-3 bp2-1-2">
          <div class="thumb">
            <a class="h-5 thumb-link" href="#">TwentyFour</a>
            <div class="thumb-feature">
              <img src="../images/thumb4.png">
              <span class="thumb-time">53m</span>
              <span class="thumb-views">5,213</span>
            </div>
            <h2 class="h-2 thumb-title">Chris Gibbs knows how to influence street wear</h2>
            <div class="h-5 thumb-caption">We spend twenty-four insightful hours with the Los Angeles retail uber-god and let this run over two lines max.</div>
          </div>
        </div>
        <div class="f-1-3 bp2-1-2">
          <div class="thumb">
            <a class="h-5 thumb-link" href="#">Tuesdays</a>
            <div class="thumb-feature">
              <img src="../images/thumb1.png">
              <span class="thumb-time">53m</span>
              <span class="thumb-views">5,213</span>
            </div>
            <h2 class="h-2 thumb-title">Tuesday without Jae</h2>
            <div class="h-5 thumb-caption">The Sydney based duo bring a little colour to your Tuesday</div>
          </div>
        </div>
      </div>
      <div class="button-row">
        <a class="button" href="#">load more news</a>
      </div>
    </div>
  </div>

  <footer class="footer next">
    <div class="f-grid f-row">
      <div class="f-1">
        <div class="content">
          <h3 class="h-3">Next up...</h3>
          <h1 class="h-1">Up-close and personal with Kendrick Lamar</h1>
          <h4 class="h-4">One of this generations best story tellers</h4>
        </div>
      </div>
    </div>
    <div class="f-grid f-row">
      <div class="f-1">
        <div class="footer-legals">&copy; Life Without Andy since 2008. All Rights Reserved.</div>
        <div class="footer-links">
          <a href="#">Disclaimer</a>
        </div>
      </div>
    </div>
  </footer>

  <footer class="footer next next-feature">
    <div class="next-bg"></div>
    <div class="blanket"></div>
    <div class="f-grid f-row">
      <div class="content">
        <h3 class="h-3">Next up...</h3>
        <h1 class="h-1">Up-close and personal with Kendrick Lamar</h1>
        <h4 class="h-4">One of this generations best story tellers</h4>
      </div>
    </div>
    <div class="f-grid f-row">
      <div class="f-1">
        <div class="footer-legals">&copy; Life Without Andy since 2008. All Rights Reserved.</div>
        <div class="footer-links">
          <a href="#">Disclaimer</a>
        </div>
      </div>
    </div>
  </footer>
  
  <div class="up">
    <a id="back-up" href="javascript:void(0)"><i></i>back to top</a>
  </div>

  <footer class="footer">
    <div class="f-grid f-row">
      <div class="f-1">
        <div class="footer-legals">&copy; Life Without Andy since 2008. All Rights Reserved.</div>
        <div class="footer-links">
          <a href="#">Disclaimer</a>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="../dist/build.js"></script>
</body>
</html>