<html>
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>LWA Static Home</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <footer class="footer next">
    <div class="grid row">
      <div class="next-content">
        <h3 class="h-3">Next up...</h3>
        <h1 class="h-1">Up-close and personal with Kendrick Lamar</h1>
        <h4 class="h-4">One of this generations best story tellers</h4>
      </div>
    </div>
    <div class="grid row">
      <div class="footer-legals">&copy; Life Without Andy since 2008. All Rights Reserved.</div>
      <div class="footer-links">
        <a href="#">Disclaimer</a>
      </div>
    </div>
  </footer>

  <footer class="footer next next-feature">
    <div class="next-bg"></div>
    <div class="blanket"></div>
    <div class="grid row">
      <div class="next-content">
        <h3 class="h-3">Next up...</h3>
        <h1 class="h-1">Up-close and personal with Kendrick Lamar</h1>
        <h4 class="h-4">One of this generations best story tellers</h4>
      </div>
    </div>
    <div class="grid row">
      <div class="footer-legals">&copy; Life Without Andy since 2008. All Rights Reserved.</div>
      <div class="footer-links">
        <a href="#">Disclaimer</a>
      </div>
    </div>
  </footer>

  <footer class="footer">
    <div class="grid row">
      <div class="footer-legals">&copy; Life Without Andy since 2008. All Rights Reserved.</div>
      <div class="footer-links">
        <a href="#">Disclaimer</a>
      </div>
    </div>
  </footer>
</body>
</html>