<html>
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>LWA Static Feature</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <a class="button button-insta" href="javascript:void(0)">Go</a>

  <header class="header feature">
    <div class="feature-bg" style="background-image:url(../images/header-feature.png);"></div>
    <nav class="nav">
      <div class="f-grid f-row">
        <div class="f-1">
          <a href="#" class="logo"></a>
          <div class="nav-item nav-menu">
            <a id="nav" href="#"><i class="icon-menu"></i></a>
          </div>
          <div class="nav-item nav-search">
            <a href="#"><i class="icon-search"></i></a>
          </div>

          <div class="nav-links">
            <ul class="nav-links-primary">
              <li><a href="#">Tuesdays Without</a></li>
              <li><a href="#">Parties &amp; Bullshit</a></li>
              <li><a href="#">Twenty Four</a></li>
              <li><a href="#">News</a></li>
            </ul>
            <ul class="nav-links-secondary">
              <li><a href="#">Shop</a></li>
              <li><a href="#">Shot by</a></li>
              <li><a href="#">Info</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="f-grid f-row">
      <div class="f-1">
        <div class="content">
          <a class="link h-5" href="#">TwentyFour</a>
          <h1 class="h-1">Chris Gibbs knows how to influence street wear</h1>
          <h4 class="h-4">We spend 24 insightful hours with the Los Angeles retail uber-god</h4>
        </div>
      </div>
    </div>
  </header>

  <div id="modal-instabinge" class="modal modal-transparent modal-instabinge">
    <a class="modal-close" href="javascript:void(0)"><i class="icon-close"></i></a>
    <div class="modal-wrap">
    <div class="modal-wrap-row">
      <div class="modal-view frame">
        <ul class="slidee">
          <li style="width: 400px;">
            <div class="modal-view-image">
              <img src="../images/insta-modal.png">
            </div>
            <div class="modal-view-details">
              <div class="instabinge-profile">
                <div class="instabinge-profile-img">
                  <img src="../images/insta-profile.png">
                </div>
                <div class="instabinge-profile-details">
                  <div class="instabinge-username">@umyeaharts</div>
                  <div class="instabinge-name">Um Yeah Arts</div>
                  <div class="instabinge-when">8 hours ago</div>
                  <div class="instabinge-likes"><i class="icon-likes"></i> 588</div>
                </div>
              </div>
              <div class="instabinge-comment">
                Ry Craike heading towards the nuclear zone,, in Indo while filming The Present,, first time sharing this foto. Ry is such a natural talent groomed on the gnar burgular waves of west oz, this wave would be a death trip for 99% of people,, an intense cake walk for Ry,, but a cake walk non the less. 2008 #rycraike #fototcampbell
              </div>
              <div class="instabinge-comments">
                <div class="instabinge-secondary">Comments</div>
                <ul class="instabinge-other-comments">
                  <li>
                    <a href="#" class="instabinge-username">raulfelix</a>
                    <div class="instabinge-comment">
                      Hey <a href="#" class="instabinge-username">@umyeaharts</a> thanks for the kind words mate! All good over here in the west. Hope your well to mate. Cheers
                    </div>
                  </li>
                  <li>
                    <a href="#" class="instabinge-username">raulfelix</a>
                    <div class="instabinge-comment">
                      Hey <a href="#" class="instabinge-username">@umyeaharts</a> thanks for the kind words mate! All good over here in the west. Hope your well to mate. Cheers
                    </div>
                  </li>
                  <li>
                    <a href="#" class="instabinge-username">raulfelix</a>
                    <div class="instabinge-comment">
                      Hey <a href="#" class="instabinge-username">@umyeaharts</a> thanks for the kind words mate! All good over here in the west. Hope your well to mate. Cheers
                    </div>
                  </li>
                  <li>
                    <a href="#" class="instabinge-username">raulfelix</a>
                    <div class="instabinge-comment">
                      Hey <a href="#" class="instabinge-username">@umyeaharts</a> thanks for the kind words mate! All good over here in the west. Hope your well to mate. Cheers
                    </div>
                  </li>
                  <li>
                    <a href="#" class="instabinge-username">raulfelix</a>
                    <div class="instabinge-comment">
                      Hey <a href="#" class="instabinge-username">@umyeaharts</a> thanks for the kind words mate! All good over here in the west. Hope your well to mate. Cheers
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </li>
          <li style="width: 400px;">
            <div class="modal-view-image">
              <img src="../images/insta-modal.png">
            </div>
            <div class="modal-view-details">
              <div class="instabinge-profile">
                <div class="instabinge-profile-img">
                  <img src="../images/insta-profile.png">
                </div>
                <div class="instabinge-profile-details">
                  <div class="instabinge-username">@umyeaharts</div>
                  <div class="instabinge-name">Um Yeah Arts</div>
                  <div class="instabinge-when">8 hours ago</div>
                  <div class="instabinge-likes"><i class="icon-likes"></i> 588</div>
                </div>
              </div>
              <div class="instabinge-comment">
                Ry Craike heading towards the nuclear zone,, in Indo while filming The Present,, first time sharing this foto. Ry is such a natural talent groomed on the gnar burgular waves of west oz, this wave would be a death trip for 99% of people,, an intense cake walk for Ry,, but a cake walk non the less. 2008 #rycraike #fototcampbell
              </div>
              <div class="instabinge-comments">
                <div class="instabinge-secondary">Comments</div>
                <ul class="instabinge-other-comments">
                  <li>
                    <a href="#" class="instabinge-username">raulfelix</a>
                    <div class="instabinge-comment">
                      Hey <a href="#" class="instabinge-username">@umyeaharts</a> thanks for the kind words mate! All good over here in the west. Hope your well to mate. Cheers
                    </div>
                  </li>
                  <li>
                    <a href="#" class="instabinge-username">raulfelix</a>
                    <div class="instabinge-comment">
                      Hey <a href="#" class="instabinge-username">@umyeaharts</a> thanks for the kind words mate! All good over here in the west. Hope your well to mate. Cheers
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </li>
        </ul>
      </div>
      <div class="instabinge-controls">
        <button class="instabinge-prev"><i class="icon-arrow-left"></i></button>
        <button class="instabinge-next"><i class="icon-arrow-right"></i></button>
      </div>
    </div>
    </div>
  </div>
  <script type="text/javascript" src="../dist/global-build.js"></script>
  <script type="text/javascript" src="../dist/home-build.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      function init() {
        console.log("init");
        // -------------------------------------------------------------
        //   One Item Per Frame
        // -------------------------------------------------------------
        (function () {
          var $frame = $('.frame');
          var $wrap  = $frame.parent();

          // Call Sly on frame
          $frame.sly({
            horizontal: 1,
            itemNav: 'forceCentered',
            smart: 1,
            activateMiddle: 1,
            mouseDragging: 1,
            touchDragging: 1,
            releaseSwing: 1,
            startAt: 0,
            // scrollBar: $wrap.find('.scrollbar'),
            // scrollBy: 1,
            speed: 300,
            elasticBounds: 1,
            easing: 'swing',
            dragHandle: 1,
            dynamicHandle: 1,
            clickBar: 1,

            // Buttons
            prev: $('.instabinge-prev'),
            next: $('.instabinge-next')
          });
        }());
      }

      LWA.Modules.Modal('.button-insta', '#modal-instabinge', { open: init });

    });
  </script>

</body>
</html>