#carousel-adder {
  display: none;
}

#carousel-tabs li:last-child {
  display: none;
}

.label-heximus {
  display: block;
  margin-bottom: 5px;
}
.input-heximus {
  margin-bottom: 10px;
}

.c-field-wrap {
  margin-top: 10px;
}
.c-credits {
  margin-top: 5px;
}

.c-category-postbox {
  float: left;
  margin-right: 20px;
} 

.c-category-postbox-dark {
  background-color: #4a4a44;
}
.c-category-postbox-dark .hndle {
  background-color: #fff;
}

.c-remove {
  display: block;
}

.c-inline-field label {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
  width: 42px;
}

.c-inline-field input {
  display: inline-block;
  width: auto;
}